html, body {
  margin: 0;
}

div {
  border: 1px solid red;

  padding: 10px;
}

.abs-no-parent {
  background-color: cornflowerblue;
  position:absolute;
  top: 20%;
  right: 100px;
}

.rel-parent {
  background-color: blueviolet;
  width: 50%;
  height: 75vh;
  position: relative;
}

.abs-rel-parent{
  background-color: rgb(12, 237, 16);
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 10px;
}

header {
  background-color: darkorange;
  height: 100px;
  position: fixed;
  z-index:100;
  width: 100%;
}