* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

button {
  background-color: #1C2F5D;
  border-color: transparent;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 auto;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.flip_card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  perspective: 1000px;
}

.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip_card:hover .flip_card_inner{
  transform: rotateY(180deg);
}

.flip_card_front, .flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip_card_front {
  background-color: #AAA;
}

.flip_card_back {
  background-color: #AAA;
  transform: rotateY(180deg);
}