@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap'); 

*{ box-sizing: border-box;}

body {
  font-family: 'Open Sans', sans-serif;

}

.card {
  position: relative;
  width: 48%;
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  padding:1rem;
  padding-bottom: 3rem;
  margin: 1%;

}

.recipe_img {
  width: 30%;
  height: auto;
}

.recipe_info {
  margin-left: 1.5rem;
}

.recipe_title, .list_title {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

.recipe_title {
  margin:0 0 1rem 0;
  font-size: 2.5rem;
  border-bottom: .25rem solid #48B2FF;
}

.list_title {
  margin: 0.5rem 0;
  font-size:1.625rem;
  color: #48B2FF;
}

.recipe_details{
  display: flex;
  justify-content: space-between;
  margin-left: 1.5rem;
}

.ingredients_list {
  width: 40%;

  & ul{
    list-style-type: none;
    padding-left: 0;
  }

  & .list_item {
    display: flex;
  }

  /* After Data Convert */
  & span {
    display: block;
  }

  & .measure {
    flex: 0 0 30%;
    margin-right: 2rem;
  }
  /* End After Data Convert */
}

.list_item {
  margin-bottom: 0.75rem;
}

.instructions_list {
  width: 55%;

  & ol {
    padding-left:1.25rem;
  }
}

.ratings_wrapper {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.heart svg {
  display: inline-block;
  color: #48B2FF;
  fill: #48B2FF;
  width: 10;
  height: 10;
}